{% extends "base.html" %}

{% block title_head %}
Paletas
{% endblock title_head %}

{% block h1_header %}
Listado de Paletas
{% endblock h1_header %}

{% block main %}

<a href={% url "crear_paleta" %}>Crear Paleta</a>

{% if paletas %}

    <ul>
        {% for paleta in paletas %}
        <li>{{paleta}} UwU 
            {% comment %} <a href={% url "eliminar_paletas" paleta.id%}>Eliminar</a> UwU
            <a href={% url "editar_paletas" paleta.id%}>Editar</a> UwU {% endcomment %}
            <a href={% url "ver_paleta" paleta.id %}>Ver</a> 
        </li>
        {% endfor %}
    </ul>
{% else %}
<p>No hay paletas creadas</p>
{% endif %}
{% endblock main %}